.mainContainer{
    /* position: sticky; */
    width: 100vw;
    height: 6vh;
    background: linear-gradient(to right,#100d11,#100d11,#5a4f73)
}
.subContainer{
    display: flex;
    flex-direction: row;
}
.youtubeLogo{
    margin-left: 16px;
    transform: scale(0.8);
}

.SearchBar{
    margin-left: 20vw;
    width: 35vw;
    margin-top: 8px;
}